</main>

<!-- Load Font Awesome here so footer icons render even if header wasn't edited -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />

<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-square-linkedin"></i>
        </div>
        <br><br>
        <div> &copy; DigitalMentor-Empowering women to return work</div>
        <div class="f-info-brand f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script> AOS.init({ once:true, duration:700 }); </script>
<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>