<% if(success_msg && success_msg.length){ %><div class='alert alert-success mt-3'><%= success_msg %></div><% } %>
<% if(error_msg && error_msg.length){ %><div class='alert alert-danger mt-3'><%= error_msg %></div><% } %>